<footer class="footer">
  <div class="container">
    <div class="social-icons">
      <a
        href="https://www.instagram.com/your_instagram_username"
        target="_blank"
        class="social-icon"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        href="https://www.twitter.com/your_twitter_username"
        target="_blank"
        class="social-icon"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        href="https://www.github.com/your_github_username"
        target="_blank"
        class="social-icon"
        ><i class="fab fa-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/your_linkedin_profile"
        target="_blank"
        class="social-icon"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
    <p class="copyright">Copyright &copy; 2024 by rksharma</p>
  </div>
</footer>
