<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Signup</title>
    <style>
      #fullName,#exampleInputEmail1,#exampleInputPassword1 {
        background:transparent;
        color: white;
      }

      .form-label{
        color: white;
        font-size: larger;
      }
      .btn{
        background-color: maroon;
        color: white;
      }

    </style>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-4">
      <form action="/user/signup" method="POST">
        <div class="mb-3">
            <label for="fullName" class="form-label"
              >Full Name</label
            >
            <input
              type="text"
              name="fullName"
              class="form-control"
              id="fullName"
              aria-describedby="fullName"
            />
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
       
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>

    <%- include('./partials/script.ejs') %>
    
  </body>
</html>



